@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Ivory Rose - A soft, warm pink palette */
    --ivory-rose-50: 0 8% 98%;
    --ivory-rose-100: 0 8% 88%;
    --ivory-rose-200: 0 16% 72%;
    --ivory-rose-300: 0 16% 60%;
    --ivory-rose-400: 0 20% 54%;
    --ivory-rose-500: 0 20% 48%;
    --ivory-rose-600: 0 24% 32%;
    --ivory-rose-700: 0 24% 24%;
    --ivory-rose-800: 0 28% 16%;
    --ivory-rose-900: 0 28% 8%;

    /* Monstera - A rich green palette */
    --monstera-50: 135 8% 98%;
    --monstera-100: 135 8% 88%;
    --monstera-200: 135 8% 72%;
    --monstera-300: 135 8% 60%;
    --monstera-400: 135 8% 54%;
    --monstera-500: 135 8% 48%;
    --monstera-600: 135 16% 32%;
    --monstera-700: 135 16% 24%;
    --monstera-800: 135 32% 16%;
    --monstera-900: 135 32% 8%;

    /* Rose Gold - A warm, metallic palette */
    --rose-gold-50: 35 40% 98%;
    --rose-gold-100: 35 40% 88%;
    --rose-gold-200: 35 36% 76%;
    --rose-gold-300: 35 36% 64%;
    --rose-gold-400: 35 36% 56%;
    --rose-gold-500: 35 40% 48%;
    --rose-gold-600: 35 40% 32%;
    --rose-gold-700: 35 40% 24%;
    --rose-gold-800: 35 40% 16%;
    --rose-gold-900: 35 40% 8%;

    /* Midnite - A deep, dark palette */
    --midnite-50: 345 2% 98%;
    --midnite-100: 345 2% 88%;
    --midnite-200: 345 2% 72%;
    --midnite-300: 345 2% 60%;
    --midnite-400: 345 2% 54%;
    --midnite-500: 345 2% 44%;
    --midnite-600: 345 2% 28%;
    --midnite-700: 345 2% 16%;
    --midnite-800: 345 2% 8%;
    --midnite-900: 345 2% 2%;

    --background: var(--ivory-rose-50);
    --foreground: var(--rose-gold-900);
    --border: 0 0% 89.8%;
    --text-gradient-start: var(--foreground);
    --text-gradient-end: var(--rose-gold-500);
  }

  .dark {
    /* Dark theme adjustments for Ivory Rose */

    /* Dark theme adjustments for Monstera */

    /* Dark theme adjustments for Rose Gold */

    /* Dark theme adjustments for Midnite */

    --background: var(--midnite-900);
    --foreground: var(--ivory-rose-50);
    --border: 0 0% 14.9%;
    --text-gradient-start: var(--foreground);
    --text-gradient-end: var(--ivory-rose-500);
  }
}

@layer base {
  html {
    min-height: 100dvh;
    max-width: 100vw;
    scroll-behavior: smooth;
  }

  .logo-fill {
    fill: hsl(var(--foreground));
  }

  .logo-hilite {
    fill: hsl(var(--rose-gold-500));
  }

  .dark .logo-hilite {
    fill: hsl(var(--ivory-rose-500));
  }

  .social-icon {
    fill: hsl(var(--background));
  }

  .modal-window {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;
  }

  .modal-window.open {
    opacity: 1;
    visibility: visible;
  }
}

::selection {
  background-color: hsl(var(--foreground));
  color: hsl(var(--background));
}
