@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: var(--ivory-rose-50);
    --foreground: 0 0% 3.9%;
    --border: 0 0% 89.8%;

    /* Ivory Rose - A soft, warm pink palette */
    --ivory-rose-50: 0 20% 98%;
    --ivory-rose-100: 0 28% 94%;
    --ivory-rose-200: 0 30% 91%;
    --ivory-rose-300: 0 32% 87%;
    --ivory-rose-400: 0 34% 85%;
    --ivory-rose-500: 0 36% 81%;
    --ivory-rose-600: 0 25% 74%;
    --ivory-rose-700: 0 8% 57%;
    --ivory-rose-800: 0 7% 44%;
    --ivory-rose-900: 0 8% 34%;

    /* Monstera - A rich green palette */
    --monstera-50: 135 8% 92%;
    --monstera-100: 135 5% 75%;
    --monstera-200: 135 5% 63%;
    --monstera-300: 135 9% 45%;
    --monstera-400: 135 14% 35%;
    --monstera-500: 135 37% 18%;
    --monstera-600: 135 35% 16%;
    --monstera-700: 135 31% 13%;
    --monstera-800: 135 29% 10%;
    --monstera-900: 135 25% 8%;

    /* Rose Gold - A warm, metallic palette */
    --rose-gold-50: 35 45% 97%;
    --rose-gold-100: 35 55% 89%;
    --rose-gold-200: 35 58% 85%;
    --rose-gold-300: 35 60% 78%;
    --rose-gold-400: 35 62% 73%;
    --rose-gold-500: 35 64% 67%;
    --rose-gold-600: 35 45% 61%;
    --rose-gold-700: 35 28% 47%;
    --rose-gold-800: 35 27% 37%;
    --rose-gold-900: 35 26% 28%;

    /* Midnite - A deep, dark palette */
    --midnite-50: 120 2% 91%;
    --midnite-100: 120 2% 71%;
    --midnite-200: 120 3% 58%;
    --midnite-300: 120 5% 39%;
    --midnite-400: 120 9% 27%;
    --midnite-500: 120 33% 8%;
    --midnite-600: 120 31% 7%;
    --midnite-700: 120 27% 6%;
    --midnite-800: 120 25% 5%;
    --midnite-900: 120 20% 4%;

    --text-gradient-start: var(--monstera-600);
    --text-gradient-end: var(--rose-gold-500);
  }

  .dark {
    --background: var(--midnite-800);
    --foreground: 0 0% 98%;
    --border: 0 0% 14.9%;

    /* Dark theme adjustments for Ivory Rose */
    /* --ivory-rose-50: 0 8% 85%;
    --ivory-rose-100: 0 10% 80%;
    --ivory-rose-200: 0 12% 70%;
    --ivory-rose-300: 0 14% 60%;
    --ivory-rose-400: 0 16% 50%;
    --ivory-rose-500: 0 18% 40%;
    --ivory-rose-600: 0 20% 30%;
    --ivory-rose-700: 0 22% 25%;
    --ivory-rose-800: 0 24% 20%;
    --ivory-rose-900: 0 26% 15%; */

    /* Dark theme adjustments for Monstera */
    /* --monstera-50: 135 15% 85%;
    --monstera-100: 135 20% 75%;
    --monstera-200: 135 25% 65%;
    --monstera-300: 135 30% 55%;
    --monstera-400: 135 35% 45%;
    --monstera-500: 135 40% 35%;
    --monstera-600: 135 45% 25%;
    --monstera-700: 135 50% 20%;
    --monstera-800: 135 55% 15%;
    --monstera-900: 135 60% 10%; */

    /* Dark theme adjustments for Rose Gold */
    /* --rose-gold-50: 35 25% 85%;
    --rose-gold-100: 35 30% 75%;
    --rose-gold-200: 35 35% 65%;
    --rose-gold-300: 35 40% 55%;
    --rose-gold-400: 35 45% 45%;
    --rose-gold-500: 35 50% 35%;
    --rose-gold-600: 35 55% 30%;
    --rose-gold-700: 35 60% 25%;
    --rose-gold-800: 35 65% 20%;
    --rose-gold-900: 35 70% 15%; */

    /* Dark theme adjustments for Midnite */
    /* --midnite-50: 120 15% 80%;
    --midnite-100: 120 20% 70%;
    --midnite-200: 120 25% 60%;
    --midnite-300: 120 30% 50%;
    --midnite-400: 120 35% 40%;
    --midnite-500: 120 40% 30%;
    --midnite-600: 120 45% 25%;
    --midnite-700: 120 50% 20%;
    --midnite-800: 120 55% 15%;
    --midnite-900: 120 60% 10%; */

    --text-gradient-start: var(--monstera-50);
    --text-gradient-end: var(--ivory-rose-700);
  }
}

@layer base {
  html {
    min-height: 100dvh;
    max-width: 100vw;
    scroll-behavior: smooth;
  }

  button path {
    fill: hsl(var(--foreground));
  }
}

@layer components {
  .logo-fill {
    fill: hsl(var(--foreground));
  }

  .logo-hilite {
    fill: hsl(var(--rose-gold-500));
  }

  .dark .logo-hilite {
    fill: hsl(var(--ivory-rose-500));
  }

  .social-icon {
    fill: hsl(var(--background));
  }

  .modal-window {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;
  }

  .modal-window.open {
    opacity: 1;
    visibility: visible;
  }
}

::selection {
  background-color: hsl(var(--foreground));
  color: hsl(var(--background));
}
