---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Welcome to Moxie Beauty Studio">
  <main class="w-full min-h-full" id="hero">
    <Hero />
    <section
      class="relative grid place-content-center w-full min-h-dvh"
      id="services"
    >
      <div class="services-container">
        <h2 class="font-display text-2xl sm:text-3xl lg:text-4xl mb-4">
          Services
        </h2>
      </div>
    </section>
    <section
      class="relative grid place-content-center w-full min-h-dvh"
      id="portfolio"
    >
      <div class="portfolio-container">
        <h2 class="font-display text-2xl sm:text-3xl lg:text-4xl mb-4">
          Portfolio
        </h2>
      </div>
    </section>
    <section
      class="relative grid place-content-center w-full min-h-dvh"
      id="about"
    >
      <div class="about-container">
        <h2 class="font-display text-2xl sm:text-3xl lg:text-4xl mb-4">
          About
        </h2>
      </div>
    </section>
  </main>
</Layout>
