---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Gallery from "../components/Gallery.astro";
import Services from "../components/Services.astro";
import About from "../components/About.astro";
import Testimonials from "../components/Testimonials.astro";
---

<Layout title="Welcome to Moxie Beauty Studio">
  <Hero />

  <main class="w-full">
    <section
      class="relative grid place-content-center p-4 md:py-36 w-full"
      id="services"
    >
      <Services />
    </section>
    <section
      class="relative grid place-content-center p-4 md:py-36 w-full"
      id="portfolio"
    >
      <Gallery />
    </section>
    <section
      class="relative grid place-content-center p-4 md:py-36 w-full"
      id="about"
    >
      <About />
    </section>
    <Testimonials />
  </main>
</Layout>
