---
// import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import profileImage from "../assets/jackie-profile.jpg";
import placeholder from "../assets/jackie-working.jpg";
import Button from "./Button.astro";
import Testimonials from "./Testimonials.astro";
---

<section
  class="relative grid place-content-center p-4 md:py-[10vh] w-full min-h-screen"
  id="about"
>
  <div
    class="about-container flex flex-col md:flex-row justify-center pt-8"
    data-animate="about"
  >
    <Image
      src={profileImage}
      alt="Jackie Schult, owner and operator of Moxie Beauty Studio"
      class="h-96 w-3/5 md:w-64 mb-8 mx-auto md:mr-8 lg:mr-10 rounded-tl rounded-tr-[4rem] rounded-br rounded-bl-[4rem] border-r-[.5rem] border-b-[.5rem] border-rose-gold-500 dark:border-ivory-rose-500 object-cover z-0"
      loading="lazy"
    />
    <div class="about-content p-4 text-pretty" data-animate="about-content">
      <h2
        class="font-display bg-text-gradient bg-clip-text text-transparent text-3xl sm:text-4xl md:text-5xl mb-8 max-w-[16ch] text-balance"
      >
        Discover the Heart & Soul of Moxie
      </h2>
      <p class="text-lg mb-4 max-w-[36ch] text-foreground">
        Moxie Beauty Studio is dedicated to helping clients feel beautiful and
        confident.
      </p>
      <p class="text-base mb-6 max-w-[68ch] text-balance">
        Moxie Beauty Studio is owned and operated by <strong
          >Jackie Schult</strong
        >. Jackie specializes in <em
          >eyelash extensions, lash lift and tint, eyebrow lamination,
          microblading, and waxing</em
        >. Her dedication to continuous improvement drives her to expand both
        her skills and services, always staying ahead of industry trends to
        provide the best possible care.
      </p>
      <Image
        src={placeholder}
        alt="A picture of Jackie working on another satisfied client."
        class="h-96 w-full max-w-[36rem] mb-8 mr-8 md:mr-8 lg:mr-10 rounded-tl rounded-tr-[4rem] rounded-br rounded-bl-[4rem] border-r-[.5rem] border-b-[.5rem] border-rose-gold-500 dark:border-ivory-rose-500 object-cover object-top z-0"
        loading="lazy"
        format="avif"
      />
    </div>
  </div>
  <div class="flex flex-row place-items-center">
    <blockquote
      class="text-xl font-display-italic bg-text-gradient bg-clip-text text-transparent ps-2 max-w-[56ch] text-balance"
    >
      Jackie is committed to fostering strong relationships with her clients,
      ensuring each appointment is a personalized &amp; enjoyable experience.
    </blockquote>
    <Button variant="outline" classes="justify-self-start align-self-center"
      >Book Now</Button
    >
  </div>
</section>
<Testimonials />
<script>
  import { initSectionAnimations } from "../scripts/sectionAnimations";
  initSectionAnimations();
</script>
