---
import Button from "./Button.astro";
---

<section
  class="relative grid place-content-center p-4 md:py-[10vh] w-full min-h-screen bg-ivory-rose-100/50 dark:bg-midnite-500/30"
  id="appointments"
  data-animate="appointments"
>
  <div
    class="content relative max-w-[65ch] text-balance"
    data-animate="appointments-content"
  >
    <h1
      class="font-display bg-text-gradient bg-clip-text text-transparent text-3xl lg:text-4xl mb-8"
    >
      Book Your Appointment
    </h1>
    <p class="text-base text-foreground mb-4">
      Moxie Beauty Studio is more than just a place for beauty treatments; it's
      a welcoming space where clients can embark on their self-care journey with
      the support and expertise needed to achieve their best selves.
    </p>
    <p class="text-base mb-12">
      All Services are by appointment only. Moxie has a <span
        class="font-bold italic">strict 24-hour cancellation policy</span
      >. Please take the time to read our
      <a href="#0" class="underline hover:no-underline font-bold">
        Appointment Policies
      </a>
      before your appointment, thank you.
    </p>
    <Button data-modal="booking" class="booking-btn">Make an Appointment</Button
    >
  </div>
</section>
