---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
  type?: "button" | "submit";
  size?: "sm" | "md" | "lg";
  classes?: string;
}

const { type = "button", size = "md", classes, ...rest } = Astro.props;
---

<button
  class:list={[
    "ps-4 pe-4 py-3 font-display-bold text-base text-nowrap text-white dark:text-midnite-900 bg-monstera-500 dark:bg-ivory-rose-500 rounded rounded-tr-2xl rounded-bl-2xl hover:rounded hover:rounded-tl-2xl hover:rounded-br-2xl outline-0 ring-offset-2 ring-offset-ivory-rose-50 dark:ring-offset-monstera-500 focus:ring focus:ring-monstera-500 dark:focus:ring-ivory-rose-500 transition-all ease-in-out duration-300",
    classes,
  ]}
  {type}
  data-size={size}
  {...rest}
>
  <slot />
</button>
