---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
  type?: "button" | "submit";
  size?: "sm" | "md" | "lg";
  classes?: string;
}

const { type = "button", size = "md", classes, ...rest } = Astro.props;
---

<button
  class:list={[
    "font-display-bold flex flex-row gap-1 items-baseline justify-center text-nowrap text-white dark:text-midnite-900 bg-monstera-500 dark:bg-ivory-rose-500 rounded rounded-tr-2xl rounded-bl-2xl hover:rounded hover:rounded-tl-2xl hover:rounded-br-2xl outline-0 ring-offset-2 ring-offset-ivory-rose-50 dark:ring-offset-monstera-500 focus-visible:ring focus-visible:ring-monstera-500 dark:focus-visible:ring-ivory-rose-500 transition-all ease-in-out duration-300",
    size === "sm" && "text-xs py-2 px-3",
    size === "md" && "text-base py-3 px-4",
    size === "lg" && "text-xl py-4 px-5",
    classes,
  ]}
  {type}
  data-size={size}
  {...rest}
>
  <slot />
</button>
