---
import Button from "./Button.astro";

const navData = [
  {
    title: "Services",
    href: "#services",
  },
  {
    title: "Portfolio",
    href: "#portfolio",
  },
  {
    title: "About",
    href: "#about",
  },
];
---

<nav
  class="fixed lg:sticky flex flex-col sm:flex-row md:inline-flex items-center gap-4 py-4 px-6 lg:mt-[18dvh] bottom-4 lg:top-4 lg:bottom-auto left-1/2 lg:left-56 2xl:left-[20vw] bg-ivory-rose-100/80 dark:bg-monstera-800/80 backdrop-blur text-midnite-900 dark:text-white -translate-x-2/4 lg:translate-x-[none] rounded-2xl z-30"
>
  <ul class="flex flex-row flex-shrink">
    {
      navData.map((i) => (
        <li>
          <a href={i.href} aria-label={i.title} class="p-4">
            {i.title}
          </a>
        </li>
      ))
    }
  </ul>
  <Button classes="w-full md:w-auto booking-btn">Book Now</Button>
</nav>
