---
import Button from "./Button.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";

const currentYear = new Date().getFullYear();
---

<footer
  class="grid gap-x-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-[1fr_2fr_1fr_2fr] 2xl:grid-cols-[2fr_2fr_1fr_2fr] mt-24 mx-auto max-w-[100rem]"
>
  <div
    class="logo-container grid lg:col-span-4 xl:col-span-1 p-8"
    id="logo-footer"
  >
    <!-- large logo  -->
    <svg
      width="180"
      height="75"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="lg:hidden"
      ><path
        d="M85.712 69.598H.29a.276.276 0 0 0-.274.277v1.596c0 .152.123.276.274.276h85.422a.275.275 0 0 0 .274-.276v-1.596a.275.275 0 0 0-.274-.277Z"
        fill="#D9B77B"></path><path
        d="m111.644 74.15-2.619-5.693h-.155l-2.662 5.692h.454l.869-1.855h2.464l.848 1.855h.801Zm-1.821-2.217h-2.12l1.053-2.263 1.067 2.263Zm33.23 1.94a1.914 1.914 0 0 1-.982-.021 1.58 1.58 0 0 1-.462-.219 1.648 1.648 0 0 1-.361-.352 1.603 1.603 0 0 1-.235-.47l-.357.146c.076.21.168.398.277.563.112.162.245.3.399.416.157.111.336.197.537.255.202.06.429.088.681.088a2.5 2.5 0 0 0 .831-.125 1.75 1.75 0 0 0 .6-.34c.16-.146.28-.315.361-.508.081-.196.122-.405.122-.626 0-.21-.052-.399-.156-.567a1.85 1.85 0 0 0-.394-.465 3.258 3.258 0 0 0-.546-.387 12.897 12.897 0 0 0-.604-.331c-.182-.095-.36-.19-.533-.286a4.168 4.168 0 0 1-.466-.302 1.69 1.69 0 0 1-.328-.323.616.616 0 0 1-.122-.361.68.68 0 0 1 .072-.303c.047-.1.117-.19.209-.268.096-.081.215-.146.357-.193.143-.05.31-.076.5-.076.213 0 .403.027.571.08.168.053.314.129.441.226.125.096.232.212.319.35.089.133.161.282.214.444l.336-.155c-.07-.213-.158-.4-.265-.563a1.528 1.528 0 0 0-.386-.407 1.563 1.563 0 0 0-.521-.252 2.431 2.431 0 0 0-.667-.084 2.24 2.24 0 0 0-.739.113 1.58 1.58 0 0 0-.546.315 1.297 1.297 0 0 0-.331.47c-.076.183-.114.38-.114.593 0 .229.046.43.139.604.095.17.218.325.37.462.153.134.325.256.516.365.193.106.387.21.583.31.185.096.364.192.538.29.176.095.331.197.466.306.134.107.241.223.323.35a.758.758 0 0 1 .122.419.684.684 0 0 1-.105.377.969.969 0 0 1-.278.273c-.111.073-.24.129-.386.168Zm32.63.175c.364.154.756.231 1.176.231a2.994 2.994 0 0 0 2.124-.86c.268-.269.48-.58.634-.936.153-.358.23-.74.23-1.146 0-.4-.077-.775-.23-1.125a2.88 2.88 0 0 0-1.583-1.528 3.037 3.037 0 0 0-1.175-.227 3.039 3.039 0 0 0-2.12.84 2.86 2.86 0 0 0-.634.915 2.76 2.76 0 0 0-.231 1.125c0 .406.077.788.231 1.146.154.355.365.667.634.936.268.266.583.476.944.63Zm2.057-.243a1.892 1.892 0 0 1-.881.198c-.336 0-.633-.067-.891-.198a1.855 1.855 0 0 1-.646-.558 2.632 2.632 0 0 1-.39-.844 4.113 4.113 0 0 1-.13-1.066c0-.384.043-.735.13-1.054a2.5 2.5 0 0 1 .39-.823c.174-.232.389-.41.646-.537.258-.129.555-.193.891-.193.333 0 .626.064.881.193.258.126.473.305.646.537.174.23.306.504.395.823.09.319.135.67.135 1.054 0 .386-.045.742-.135 1.066a2.557 2.557 0 0 1-.395.844 1.837 1.837 0 0 1-.646.558Zm-6.849-5.222h-.769v5.566h.769v-5.566Zm-8.881 0h1.772c.481 0 .927.055 1.339.164.411.106.766.273 1.066.5.299.223.533.507.701.852.171.34.256.747.256 1.217 0 .392-.069.76-.206 1.104a2.54 2.54 0 0 1-.608.902 2.879 2.879 0 0 1-.987.605 3.741 3.741 0 0 1-1.339.222h-1.994v-5.566Zm.768 5.159h1.079c.328 0 .634-.052.919-.155a2.111 2.111 0 0 0 1.255-1.213c.123-.3.185-.645.185-1.037 0-.344-.059-.66-.176-.945a2.142 2.142 0 0 0-1.23-1.225 2.536 2.536 0 0 0-.949-.173h-1.083v4.748Zm-7.777-5.159h-.768v3.589c0 .291.049.565.147.823a1.9 1.9 0 0 0 .441.667c.193.19.431.342.713.454.286.11.613.163.983.163.419 0 .783-.06 1.091-.18.308-.12.561-.28.76-.478a1.89 1.89 0 0 0 .441-.685 2.23 2.23 0 0 0 .146-.802v-3.55h-.411v3.609a1.708 1.708 0 0 1-.235.803 1.918 1.918 0 0 1-.613.654 1.51 1.51 0 0 1-.877.273c-.277 0-.528-.045-.752-.135a1.788 1.788 0 0 1-.575-.373 1.699 1.699 0 0 1-.365-.546 1.789 1.789 0 0 1-.126-.672v-3.614Zm-3.314 0v.36h-2.015v5.206h-.769v-5.205h-2.015v-.36h4.799Zm-22.975 0 1.969 2.88 1.956-2.88h.496l-2.229 3.283v2.283h-.768v-2.317l-2.238-3.249h.814Zm-2.685.36v-.36h-4.797v.36h2.015v5.206h.767v-5.205h2.015Zm-11.983-.36h.768v3.614c0 .238.042.462.126.672.087.207.209.389.366.546.159.156.351.28.575.373.224.09.474.135.751.135.162 0 .318-.024.466-.072a1.863 1.863 0 0 0 1.024-.856c.076-.129.133-.261.173-.4a1.37 1.37 0 0 0 .063-.402v-3.61h.411v3.551c0 .278-.049.545-.147.802a1.878 1.878 0 0 1-.441.685 2.19 2.19 0 0 1-.759.478c-.308.12-.672.18-1.092.18a2.74 2.74 0 0 1-.982-.163 2.111 2.111 0 0 1-.714-.454 1.92 1.92 0 0 1-.441-.667 2.319 2.319 0 0 1-.147-.823v-3.589Zm-9.853 0v.36h-2.934v1.991h1.965v.361h-1.965v2.493h2.934v.361h-3.702v-5.566h3.702Zm-8.776 0h-2.158v5.566h2.515c.285 0 .541-.039.768-.117a1.85 1.85 0 0 0 .588-.319 1.38 1.38 0 0 0 .504-1.07c0-.188-.03-.359-.089-.513a1.24 1.24 0 0 0-.634-.697 1.692 1.692 0 0 0-.508-.155h-.071v-.017h.046c.188-.09.345-.179.47-.268a1.26 1.26 0 0 0 .298-.286c.073-.103.125-.217.156-.34.03-.123.046-.263.046-.42 0-.201-.048-.386-.143-.554a1.33 1.33 0 0 0-.399-.432 1.876 1.876 0 0 0-.608-.277 2.836 2.836 0 0 0-.781-.1Zm-.113 2.506h-1.277v-2.137h.857c.294 0 .546.026.755.076.213.05.388.123.525.218s.238.21.302.345a.986.986 0 0 1 .097.44c0 .151-.028.293-.084.424a.934.934 0 0 1-.248.336 1.164 1.164 0 0 1-.394.218c-.154.053-.332.08-.533.08Zm-.181 2.653h-1.096v-2.309h1.067a2.8 2.8 0 0 1 .793.097c.218.064.395.153.53.264.134.11.23.24.289.39.059.152.088.316.088.492 0 .156-.034.3-.1.432a.928.928 0 0 1-.307.34c-.137.093-.31.166-.52.219a3.24 3.24 0 0 1-.744.075Zm13.115-34.905a450.153 450.153 0 0 0 9.935-14.54c.523-.798.652-1.626.387-2.482-.054-.175.013-.263.199-.263l4.272.021c.304 0 .322.074.053.22-1.504.814-2.67 1.8-3.498 2.961-1.49 2.088-5.029 7.205-10.617 15.351a.385.385 0 0 0-.011.457c3.063 4.993 6.156 9.962 9.28 14.905 1.3 2.063 2.688 3.577 4.164 4.54.168.111.152.167-.048.167l-5.857.005c-.144 0-.204-.071-.183-.215.194-1.271-.077-2.444-.811-3.52-1.772-2.602-3.423-5.322-5.072-8.04-1.062-1.748-2.122-3.495-3.214-5.21-.111-.175-.225-.178-.343-.01a779.016 779.016 0 0 0-8.667 12.568c-.831 1.229-1.38 2.316-1.644 3.261a.663.663 0 0 0 .07.527l.166.28c.14.243.07.365-.21.365l-4.164-.011c-.358 0-.383-.091-.075-.274 1.53-.892 2.833-2.113 3.912-3.665 4.674-6.734 7.973-11.5 9.897-14.298a.438.438 0 0 0 .011-.472 3998.002 3998.002 0 0 0-9.237-14.809c-1.393-2.22-2.867-3.867-4.422-4.938-.147-.1-.13-.15.049-.15l6.017-.01c.222 0 .284.098.183.295-.694 1.354.562 3.285 1.48 4.698.15.23.29.445.411.643a1040.73 1040.73 0 0 0 7.238 11.638c.111.175.227.177.349.005ZM28.564 55.445a1575.317 1575.317 0 0 0 11.493-30.057c.498-1.35.515-2.549.053-3.595-.068-.157-.016-.236.156-.236l7.936.006c.169 0 .198.062.086.188-.906 1.02-1.36 2.367-1.364 4.04a5803.205 5803.205 0 0 0-.006 29.18v.002c-.005 2.167-.008 3.574 1.413 4.938.187.178.15.268-.107.268H42.33c-.205 0-.239-.075-.103-.226.892-1.003 1.342-2.4 1.35-4.19.028-10.077.024-20.272-.012-30.584-.003-.717-.319-.9-.945-.548-.491.272-1.014 1.12-1.57 2.546a6225.225 6225.225 0 0 0-12.449 32.31 1.122 1.122 0 0 1-2.095 0 11382.44 11382.44 0 0 0-12.192-31.805c-.498-1.3-1.007-2.219-1.526-2.756-.713-.734-1.071-.591-1.075.43-.035 10.33-.039 20.505-.01 30.525.007 1.726.469 3.09 1.386 4.094.122.136.091.204-.091.204H8.866c-.312 0-.355-.107-.13-.322.903-.842 1.36-1.81 1.37-2.902.05-4.513.055-14.856.012-31.03-.008-1.78-.463-3.17-1.365-4.17-.118-.128-.092-.192.08-.192l7.953-.006c.222 0 .266.09.134.269-.979 1.288-.392 2.82.196 4.358l.105.273A6914.437 6914.437 0 0 0 28.3 55.446c.085.225.173.225.263 0Zm99.483.715c-.011 1.81-.322 2.552-1.461 3.826a.114.114 0 0 0-.028.057.123.123 0 0 0 .008.063c.008.02.022.036.04.048a.116.116 0 0 0 .06.02l6.04.005c.204 0 .236-.073.096-.22-.92-.996-1.382-2.31-1.386-3.944-.025-10.166-.025-20.33 0-30.492.004-1.487.469-2.728 1.397-3.724.147-.161.111-.242-.107-.242l-6.018.006c-.251 0-.283.082-.097.247.953.856 1.436 1.825 1.451 2.907.06 4.384.063 14.865.005 31.443Zm13.025-18.397v18.736c0 1.325.664 1.997 1.993 2.014 3.661.04 7.329-.005 11.004-.134 3.031-.102 6.426-.73 8.56-3.09.125-.139.188-.114.188.076l-.006 4.54c0 .183-.089.274-.268.274h-26.178a.16.16 0 0 1-.09-.032.158.158 0 0 1-.056-.077.156.156 0 0 1-.003-.096.164.164 0 0 1 .052-.08c1.214-.967 1.44-2.208 1.451-3.847.036-10.395.007-20.794-.086-31.196-.011-1.268-.468-2.287-1.37-3.057a.13.13 0 0 1-.04-.146.115.115 0 0 1 .047-.06.117.117 0 0 1 .073-.02l26.189.032c.19 0 .285.097.285.29l-.006 4.299c0 .175-.068.21-.204.102-1.766-1.415-3.733-2.321-5.9-2.719-3.061-.569-8.063-.444-12.209-.34l-1.61.04c-1.208.028-1.811.644-1.811 1.848l-.005 11.127c0 .144.071.222.215.237 4.035.419 9.059.112 11.761-2.95.172-.197.258-.163.258.102v6.78c0 .205-.068.232-.204.081-2.853-3.154-7.877-3.336-11.794-2.987-.157.014-.236.099-.236.253ZM56.809 54.416a18.914 18.914 0 0 0 13.45 5.634c2.498 0 4.971-.497 7.279-1.464a19.007 19.007 0 0 0 6.171-4.17 19.247 19.247 0 0 0 4.123-6.24 19.424 19.424 0 0 0 0-14.723 19.252 19.252 0 0 0-4.123-6.24 19.014 19.014 0 0 0-6.171-4.17 18.836 18.836 0 0 0-7.279-1.464 18.914 18.914 0 0 0-13.45 5.634 19.348 19.348 0 0 0-5.57 13.601c0 5.102 2.003 9.995 5.57 13.602ZM81.27 53.31c-2.923 3.3-6.888 5.155-11.022 5.155s-8.099-1.854-11.022-5.155c-2.923-3.302-4.565-7.779-4.565-12.447 0-4.669 1.642-9.146 4.565-12.447 2.923-3.301 6.888-5.156 11.022-5.156 2.047 0 4.074.456 5.965 1.34 1.891.885 3.61 2.181 5.057 3.816a17.907 17.907 0 0 1 3.38 5.71 19.593 19.593 0 0 1 1.186 6.737c0 4.669-1.642 9.145-4.566 12.447Z"
        fill=""
        class="logo-fill"></path><path
        d="M137.375 7.941c-3.342.79-7.2 3.644-7.238 7.356 0 .122-.03.233-.091.333-.107.183-.17.169-.188-.043-.414-4.223-3.638-7.038-7.668-7.71-.017-.004-.023.004-.016.021v.017c.004.01.009.014.016.01 4.485-.777 7.086-3.392 7.802-7.844a.01.01 0 0 1 .003-.008c.003-.002.005-.003.008-.003s.005.001.008.003a.01.01 0 0 1 .003.008c.559 3.911 3.288 7.21 7.356 7.748.204.025.205.062.005.112Z"
        fill="#D9B77B"></path><defs></defs></svg
    >
    <!-- small logo  -->
    <svg
      width="102"
      height="56"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="hidden lg:block"
      ><path
        d="M101.599 21.075c-8.982 2.114-19.352 9.753-19.454 19.693 0 .326-.081.623-.245.892-.289.489-.458.45-.505-.115-1.1-11.178-9.58-18.673-20.24-20.58C72.984 18.806 79.85 11.828 81.757.03c0-.008.002-.015.009-.02a.028.028 0 0 1 .02-.009.03.03 0 0 1 .02.008.028.028 0 0 1 .009.02c1.502 10.473 8.838 19.306 19.771 20.744.549.068.553.168.014.303Z"
        fill="#D9B77B"></path><path
        d="M61.156 20.966a36.39 36.39 0 0 1-.37.065c-.02.01-.034 0-.044-.028v-.044c-.018-.047-.004-.067.044-.057.123.02.246.042.37.064Zm40.713 31.923H60.866c-.073 0-.132.18-.132.4v2.31c0 .221.06.401.132.401h41.003c.072 0 .131-.18.131-.4v-2.31c0-.221-.059-.401-.131-.401Z"
        fill="#D9B77B"></path><path
        d="M28.936 49.054A2271.547 2271.547 0 0 0 45.59 5.546c.722-1.955.748-3.69.078-5.204C45.57.114 45.645 0 45.894 0l11.5.008c.244 0 .286.09.125.272-1.314 1.478-1.972 3.427-1.978 5.849a8369.964 8369.964 0 0 0-.008 42.24v.001c-.008 3.137-.012 5.175 2.048 7.148.27.259.218.389-.156.389h-8.541c-.296 0-.345-.11-.148-.327 1.293-1.452 1.944-3.474 1.954-6.067.042-14.585.037-29.343-.015-44.27-.005-1.038-.462-1.302-1.37-.794-.712.394-1.47 1.623-2.274 3.687a9000.567 9000.567 0 0 0-18.04 46.767 1.626 1.626 0 0 1-2.44.756 1.625 1.625 0 0 1-.597-.756A16502.785 16502.785 0 0 0 8.288 8.867c-.722-1.883-1.459-3.213-2.211-3.99-1.033-1.063-1.552-.856-1.558.622a6976.973 6976.973 0 0 0-.015 44.185c.01 2.5.68 4.475 2.009 5.927.176.197.132.296-.133.296H.393c-.452 0-.514-.156-.187-.467 1.308-1.219 1.97-2.619 1.985-4.2.073-6.533.078-21.506.016-44.917-.01-2.577-.67-4.589-1.978-6.035C.06.1.097.008.346.008L11.87 0c.322 0 .387.13.195.389-1.418 1.865-.568 4.083.285 6.308l.151.396c5.32 14 10.672 27.987 16.055 41.961.124.327.252.327.381 0Z"
        fill=""
        class="logo-fill"></path></svg
    >
  </div>
  <div class="hours p-8" id="footer-hours">
    <h2
      class="font-display text-monstera-500 dark:text-ivory-rose-500 text-2xl mb-4"
    >
      Hours
    </h2>
    <ul>
      <li class="flex py-2 border-b border-ivory-rose-500 justify-between">
        <span class="font-light mr-2">Monday</span>
        <span class="font-semibold">9:00 AM - 5:45 PM</span>
      </li>
      <li class="flex py-2 border-b border-ivory-rose-500 justify-between">
        <span class="font-light mr-2">Tuesday</span>
        <span class="font-semibold">9:00 AM - 4:00 PM</span>
      </li>
      <li class="flex py-2 border-b border-ivory-rose-500 justify-between">
        <span class="font-light mr-2">Wednesday</span>
        <span class="font-semibold">9:00 AM - 3:00 PM</span>
      </li>
      <li class="flex py-2 border-b border-ivory-rose-500 justify-between">
        <span class="font-light mr-2">Thursday</span>
        <span class="font-semibold">9:00 AM - 3:00 PM</span>
      </li>
      <li class="flex py-2 border-b border-ivory-rose-500 justify-between">
        <span class="font-light mr-2">Friday</span>
        <span class="font-semibold">9:00 AM - 1:00 PM</span>
      </li>
      <li class="flex py-2 border-b border-ivory-rose-500 justify-between">
        <span class="font-light mr-2">Saturday</span>
        <span class="font-semibold">9:00 AM - 1:00 PM</span>
      </li>
      <li class="flex py-2 border-b border-ivory-rose-500 justify-between">
        <span class="font-light mr-2">Sunday</span>
        <span class="font-semibold">Closed</span>
      </li>
    </ul>
  </div>
  <div class="links p-8" id="footer-links">
    <h2
      class="font-display text-monstera-500 dark:text-ivory-rose-500 text-2xl mb-4"
    >
      Links
    </h2>
    <ul>
      <li class="py-2">
        <a
          href=""
          class="font-semibold no-underline lg:hover:underline underline-offset-2 decoration-2 decoration-monstera-300 dark:decoration-ivory-rose-300 transition-all booking-btn"
        >
          Make an Appointment
        </a>
      </li>
      <li class="py-2">
        <a
          href=""
          class="font-semibold no-underline lg:hover:underline underline-offset-2 decoration-2 decoration-monstera-300 dark:decoration-ivory-rose-300 transition-all"
        >
          Appointment Policy
        </a>
      </li>
      <li class="py-2">
        <a
          href=""
          class="font-semibold no-underline lg:hover:underline underline-offset-2 decoration-2 decoration-monstera-300 dark:decoration-ivory-rose-300 transition-all"
        >
          Terms & Conditions
        </a>
      </li>
    </ul>
  </div>
  <div class="contact p-8" id="footer-contact">
    <h2
      class="font-display text-monstera-500 dark:text-ivory-rose-500 text-2xl mb-4"
    >
      Contact
    </h2>
    <ul class="my-6">
      <li class="mb-4 text-base">
        <span
          class="font-display-bold mr-1 text-monstera-500 dark:text-ivory-rose-500"
          >Email</span
        >
        <a
          href="mailto:hello@moxiebeautystudiowi.com"
          class="font-semibold no-underline lg:hover:underline underline-offset-2 decoration-2 decoration-monstera-300 dark:decoration-ivory-rose-300 transition-all"
          >hello@moxiebeautystudiowi.com</a
        >
      </li>
      <li class="mb-4 text-base">
        <span
          class="font-display-bold mr-1 text-monstera-500 dark:text-ivory-rose-500"
          >Phone</span
        >
        <a
          href="tel:2623326072"
          class="font-semibold no-underline lg:hover:underline underline-offset-2 decoration-2 decoration-monstera-300 dark:decoration-ivory-rose-300 transition-all"
          >(262) 332-6072</a
        >
      </li>
    </ul>
    <Button classes="ps-2.5 pe-2.5 py-2 mr-1 facebook-btn"
      ><svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10.1389 3.56688C9.98766 3.56688 9.80402 3.64048 9.58797 3.78769C9.37192 3.93489 9.26389 4.1557 9.26389 4.45011V5.33333H11.8241V8.86624H9.26389V16H5.89352V8.86624H3.33334V5.33333H5.89352V3.56688C5.89352 3.11394 5.99074 2.67233 6.18519 2.24204C6.37963 1.81175 6.6551 1.43241 7.01158 1.10403C7.36806 0.775655 7.78395 0.509554 8.25926 0.305732C8.73457 0.101911 9.25309 0 9.81482 0H12.6667V3.56688H10.1389Z"
        ></path>
      </svg>
    </Button>
    <Button classes="ps-2.5 pe-2.5 py-2 mr-1"
      ><svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M14.1474 6.78992H12.7663C12.8786 7.19328 12.9347 7.59664 12.9347 8C12.9347 8.67227 12.8056 9.31092 12.5474 9.91597C12.2891 10.521 11.9354 11.0476 11.4863 11.4958C11.0372 11.944 10.5095 12.2969 9.90316 12.5546C9.29684 12.8123 8.65684 12.9412 7.98316 12.9412C7.30947 12.9412 6.67509 12.8123 6.08 12.5546C5.48491 12.2969 4.96281 11.944 4.51368 11.4958C4.06456 11.0476 3.71088 10.521 3.45263 9.91597C3.19439 9.31092 3.06526 8.67227 3.06526 8C3.06526 7.59664 3.1214 7.19328 3.23368 6.78992H1.81895V13.5462C1.81895 13.7255 1.8807 13.8711 2.00421 13.9832C2.12772 14.0952 2.2793 14.1513 2.45895 14.1513H13.5411C13.7207 14.1513 13.8667 14.0952 13.9789 13.9832C14.0912 13.8711 14.1474 13.7255 14.1474 13.5462V6.78992ZM14.1474 2.4874C14.1474 2.30812 14.0912 2.15686 13.9789 2.03361C13.8667 1.91036 13.7207 1.84874 13.5411 1.84874H11.6884C11.5088 1.84874 11.3628 1.91036 11.2505 2.03361C11.1382 2.15686 11.0821 2.30812 11.0821 2.4874V4.30252C11.0821 4.48179 11.1382 4.63305 11.2505 4.7563C11.3628 4.87955 11.5088 4.94118 11.6884 4.94118H13.5411C13.7207 4.94118 13.8667 4.87955 13.9789 4.7563C14.0912 4.63305 14.1474 4.48179 14.1474 4.30252V2.4874ZM7.98316 4.94118C7.12982 4.94118 6.40561 5.2381 5.81053 5.83193C5.21544 6.42577 4.91789 7.14846 4.91789 8C4.91789 8.42577 4.99649 8.82913 5.15368 9.21008C5.31088 9.59104 5.52982 9.92157 5.81053 10.2017C6.09123 10.4818 6.41684 10.7003 6.78737 10.8571C7.15789 11.014 7.55649 11.0924 7.98316 11.0924C8.40982 11.0924 8.81403 11.014 9.19579 10.8571C9.57754 10.7003 9.90877 10.4818 10.1895 10.2017C10.4702 9.92157 10.6891 9.59104 10.8463 9.21008C11.0035 8.82913 11.0821 8.42577 11.0821 8C11.0821 7.57423 11.0035 7.17647 10.8463 6.80672C10.6891 6.43698 10.4702 6.11205 10.1895 5.83193C9.90877 5.55182 9.57754 5.33333 9.19579 5.17647C8.81403 5.01961 8.40982 4.94118 7.98316 4.94118ZM1.81895 16C1.30246 16 0.870175 15.8207 0.522105 15.4622C0.174035 15.1036 0 14.6667 0 14.1513V1.84874C0 1.33333 0.174035 0.896359 0.522105 0.537815C0.870175 0.179272 1.30246 0 1.81895 0H14.1474C14.6639 0 15.1018 0.179272 15.4611 0.537815C15.8204 0.896359 16 1.33333 16 1.84874V14.1513C16 14.6667 15.8204 15.1036 15.4611 15.4622C15.1018 15.8207 14.6639 16 14.1474 16H1.81895Z"
        ></path>
      </svg></Button
    >
  </div>
  <div
    class="utility flex flex-col-reverse sm:flex-row sm:justify-between p-8 mb-20 lg:mb-0 md:col-span-2 lg:col-span-4"
    id="footer-utility"
  >
    <small class="text-xs"
      >&copy;{currentYear} Moxie Beauty Studio, all rights reserved</small
    >
    <!-- <ThemeSwitcher /> -->
  </div>
</footer>
