---
import { Picture } from "astro:assets";
import starsIcon from "../assets/icon-stars.svg";
---

<section
  class="testimonials rounded-tr-[6rem] rounded-bl-[6rem] bg-gradient-to-b from-background to-ivory-rose/30 dark:to-monstera/30 border-b-8 border-rose-gold dark:border-ivory-rose my-12 p-8 pb-36 lg:p-12 text-balance"
  data-animate="testimonials"
>
  <div class="mx-auto max-w-7xl">
    <h3
      class="font-display text-3xl bg-text-gradient bg-clip-text text-transparent"
    >
      What our clients are saying about Moxie
    </h3>
    <ul
      class="testimonial-container w-full flex flex-col lg:flex-row items-stretch gap-8 xl:max-w-6xl"
    >
      <li
        class="testimonial-item flex flex-col justify-between lg:w-1/3 lg:my-12 p-4 bg-ivory-rose-50 dark:bg-monstera-900 rounded-tl rounded-tr-[1rem] rounded-br rounded-bl-[1rem] border border-l-[.5rem] border-t-[.5rem] border-rose-gold-500 dark:border-ivory-rose-500 text-balance"
      >
        <Picture src={starsIcon} alt="" />
        <blockquote class="m-4 mt-0">
          <p class="client-quote font-display text-lg text-balance p-2">
            &ldquo;I love my lashes so much. It&rsquo;s so easy to schedule with
            Jackie. She is kind, professional and makes every woman feel
            beautiful when they leave. Thank you Jackie glad I found you!&rdquo;
          </p>
        </blockquote>
        <p class="client-name text-base tracking-widest self-end">
          ~ Michelle W.
        </p>
      </li>
      <li
        class="testimonial-item flex flex-col justify-between lg:w-1/3 lg:my-12 p-4 bg-ivory-rose-50 dark:bg-monstera-900 rounded-tl rounded-tr-[1rem] rounded-br rounded-bl-[1rem] border border-l-[.5rem] border-t-[.5rem] border-rose-gold-500 dark:border-ivory-rose-500 text-balance"
      >
        <Picture src={starsIcon} alt="" />
        <blockquote class="m-4 mt-0">
          <p class="client-quote font-display text-lg text-balance p-2">
            &ldquo;I&rsquo;ve been getting my lashes for over a year and
            I&rsquo;m hooked! I get a compliment every time I&rsquo;m out,
            that&rsquo;s how good Jackie is! She makes me feel beautiful, she
            takes her time, and is super nice!&rdquo;
          </p>
        </blockquote>
        <p class="client-name text-base tracking-widest self-end">
          ~ Crystal S.
        </p>
      </li>
      <li
        class="testimonial-item flex flex-col justify-between lg:w-1/3 lg:my-12 p-4 bg-ivory-rose-50 dark:bg-monstera-900 rounded-tl rounded-tr-[1rem] rounded-br rounded-bl-[1rem] border border-l-[.5rem] border-t-[.5rem] border-rose-gold-500 dark:border-ivory-rose-500 text-balance"
      >
        <Picture src={starsIcon} alt="" />
        <blockquote class="m-4 mt-0">
          <p class="client-quote font-display text-lg text-balance p-2">
            &ldquo;My lashes never looked better! Jackie whispers magic onto my
            face. Best EVER way to get self-care into my week!&rdquo;
          </p>
        </blockquote>
        <p class="client-name text-base tracking-widest self-end">
          ~ Amanda J.
        </p>
      </li>
    </ul>
  </div>
</section>

<script>
  import { initSectionAnimations } from "../scripts/sectionAnimations";
  initSectionAnimations();
</script>
